<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihoo.domain.visit.mapper.HosVisitVoMapper">

    <resultMap id="hosVisitVoMap" type="com.aihoo.domain.visit.dto.HosVisitVo">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="patientUserId" column="patient_user_id"/>
        <result property="hosSickId" column="hos_sick_id"/>
        <result property="name" column="name"/>
        <result property="idCard" column="id_card"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="mobile" column="mobile"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="totalPrice" column="total_price"/>
        <result property="payType" column="pay_type"/>
        <result property="payTime" column="pay_time"/>
        <result property="status" column="status"/>
        <result property="msg" column="msg"/>
        <result property="orderNum" column="order_num"/>
        <result property="fiveStar" column="five_star"/>
        <result property="doctorUserId" column="doctor_user_id"/>
        <result property="doctorName" column="doctor_name"/>
        <result property="doctorHeadImg" column="doctor_head_img"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="officeHolderName" column="office_holder_name"/>
        <result property="departName" column="depart_name"/>
        <result property="sickName" column="sick_name"/>
        <result property="orderNumber" column="order_number"/>
        <result property="firstVisit" column="first_visit"/>
        <result property="doctorAdvice" column="doctor_advice"/>
        <result property="haveTime" column="have_time"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="imUserId" column="im_user_id"/>
        <result property="imUserSig" column="im_user_sig"/>
        <result property="hasHealthInfo" column="has_health_info"/>
        <result property="hasBaseInfo" column="has_base_info"/>

        <collection property="imgs" ofType="com.aihoo.domain.visit.entity.HosVisitImg">
            <id property="id" column="hos_visit_img_id"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="hos_visit_id" jdbcType="BIGINT" property="hosVisitId"/>
            <result column="img" jdbcType="VARCHAR" property="img"/>
        </collection>
    </resultMap>

    <select id="orderList" parameterType="map" resultMap="hosVisitVoMap">
        SELECT t1.id, t1.patient_user_id, t1.status, t1.total_price, t1.type, t1.five_star,
               t2.id AS doctor_user_id, t1.have_time, t1.end_time, t1.start_time,
               t2.name AS doctor_name, t2.head_img AS doctor_head_img,
               t2.hospital_name, t2.depart_name, t2.office_holder_name,
               t3.name AS sick_name, t1.create_time, t1.update_time, t1.order_num
        FROM t_hos_visit t1
        LEFT JOIN t_doctor_user t2 ON t2.id = t1.doctor_user_id
        LEFT JOIN t_hos_sick t3 ON t3.id = t1.hos_sick_id
        WHERE t1.patient_user_id = #{patientUserId}
        <if test="null!=status and 'WAIT'.equals(status)">
            AND t1.status = "WAIT"
        </if>
        <if test="null!=status and 'HAVE'.equals(status)">
            AND t1.status in ("HAVE","START","PAY")
        </if>
        <if test="null!=status and 'END'.equals(status)">
            AND t1.status = "END"
        </if>
        <if test="null!=status and 'CANCEL'.equals(status)">
            AND t1.status in ("DONE", "CANCEL", "DECLINE")
        </if>
        <if test="null!=status and 'ALL'.equals(status)">
            AND t1.status in ('WAIT','HAVE','START','END','DONE','CANCEL','DECLINE','PAY')
        </if>
        ORDER BY t1.update_time DESC
        limit #{startNum}, #{limit}
    </select>

    <select id="patientList" parameterType="map" resultMap="hosVisitVoMap">
        SELECT t1.id, t1.patient_user_id, t1.status, t1.total_price, t1.type, t1.five_star,
               t2.id AS doctor_user_id, t1.have_time, t1.end_time, t1.start_time,
               t2.name AS doctor_name, t2.head_img AS doctor_head_img,
               t2.hospital_name, t2.depart_name, t2.office_holder_name,
               t3.name AS sick_name, t1.create_time, t1.update_time, t1.order_num,
               t1.hos_sick_id, t1.msg, t3.im_user_id, t3.im_user_sig, t3.age, t3.sex,
               CASE WHEN t1.health_info IS NOT NULL AND t1.health_info != '' THEN 1 ELSE 0 END AS has_health_info,
               CASE WHEN t1.base_info IS NOT NULL AND t1.base_info != '' THEN 1 ELSE 0 END AS has_base_info
        FROM t_hos_visit t1
        LEFT JOIN t_doctor_user t2 ON t2.id = t1.doctor_user_id
        LEFT JOIN t_hos_sick t3 ON t3.id = t1.hos_sick_id
        WHERE t1.patient_user_id = #{patientUserId}
        ORDER BY t1.update_time DESC
    </select>

    <select id="orderDetails" parameterType="map" resultMap="hosVisitVoMap">
        SELECT t1.id, t1.patient_user_id, t1.status, t1.total_price, t1.type, t1.order_num,
               t1.pay_time, t1.have_time, t1.content, t1.doctor_user_id, t1.five_star,
               t1.first_visit, t1.doctor_advice, t1.end_time, t1.start_time,
               t2.id AS doctor_user_id, t2.name AS doctor_name, t2.hospital_name,
               t2.depart_name, t2.office_holder_name, t2.head_img AS doctor_head_img,
               t3.name AS sick_name, t1.create_time, t1.update_time,
               t4.id AS hos_visit_img_id, t4.hos_visit_id, t4.img
        FROM t_hos_visit t1
        LEFT JOIN t_doctor_user t2 ON t2.id = t1.doctor_user_id
        LEFT JOIN t_hos_sick t3 ON t3.id = t1.hos_sick_id
        LEFT JOIN t_hos_visit_img t4 ON t4.hos_visit_id = t1.id
        WHERE t1.patient_user_id = #{patientUserId}
        AND t1.order_num = #{orderNum}
        <if test="null!=status and 'WAIT'.equals(status)">
            AND t1.status = "WAIT"
        </if>
        <if test="null!=status and 'HAVE'.equals(status)">
            AND t1.status in ("HAVE","START")
        </if>
        <if test="null!=status and 'END'.equals(status)">
            AND t1.status = "END"
        </if>
        <if test="null!=status and 'CANCEL'.equals(status)">
            AND t1.status in ("DONE", "CANCEL", "DECLINE")
        </if>
        ORDER BY t1.update_time DESC
    </select>
</mapper>